{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}My site manager{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
</head>
<body>
<div id="content">
    {% block menu %}{% endblock %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
